.extended-data {
  color: white;
  margin: 1rem;

  .location {
    margin-bottom: 0.5rem;

    span {
      font-weight: 300;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }

  .weather-description {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
    margin: 0.75rem 0;
  }

  .humidity,
  .pressure {
    margin: 0.75rem 0;

    .value {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
